.new-look{
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 170px;
        align-items: center;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 16px;
        color: #391400A3;
        font-size: 16px;
        font-weight: 400;
        img{
            width: 32px;
        }
    }
    &__left{
        h5{
            font-size: 16px;
            font-weight: 400;
            color: #EF6D58;
            margin-bottom: 20px;
        }
        h2{
            font-size: 56px;
            font-weight: 800;
            line-height: 64px;
            margin-bottom: 26px;
            width: 85%;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 26px;
            width: 90%;
        }
    }
}
@include mobile(){
    .new-look{
        &__wrapper{
            grid-template-columns: 1fr;
            display: flex;
            flex-direction: column-reverse;
            gap: 5px;
        }
        &__left{
            h2{
                font-size: 40px;
                width: 95%;
                margin-bottom: 13px;
                line-height: 48px;
            }
            p{
                margin-bottom: 32px;
            }
        }
    }
}